@import "variables"; /* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";


// Besides changing the theme slightly in variables i did not focus on
// changing any other elements as most were done with bootstrap.
// However the img was something i needed to do things with. 

.profileImageSmall {
    max-width: 50%;
    padding: 1rem;
}

footer {
    background-color: $light;
}